---
http_interactions:
- request:
    method: get
    uri: https://api2-017.responsys.net/rest/api/v1.1/folders/TestData/suppData/TestTable/members?fs=all&id=2&qa=ID_
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - E7gpMMp7Vc-Y3duPRm2TknRI7YHDFH8cHcfmbE0AJHCqY299w8rr88pqUM
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-fbe34d57351f349d1817ebb8 0
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"type":"","title":"Record not found","errorCode":"RECORD_NOT_FOUND","detail":"No
        records found in the table for the given ids","errorDetails":[]}'
  recorded_at: Tue, 31 May 2016 19:20:27 GMT
recorded_with: VCR 3.0.3
