---
http_interactions:
- request:
    method: post
    uri: https://api2-017.responsys.net/rest/api/v1.1/events/MyEvent
    body:
      encoding: UTF-8
      string: '{"customEvent":{},"recipientData":[{"recipient":{"listName":{"objectName":"TestDataList"},"recipientId":303306162}}]}'
    headers:
      Authorization:
      - EdmWDF8opMZFWTiBXwrTShojF0GRL3VcFP6hcy9E3wwAp-wV-5Rtovqonw
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-f9e34d57de1e29ae5ce2dd2b 0
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"type":"","title":"Custom event not found","errorCode":"CUSTOM_EVENT_NOT_FOUND","detail":"CustomEvent
        not found in database","errorDetails":[]}'
  recorded_at: Tue, 31 May 2016 19:20:25 GMT
recorded_with: VCR 3.0.3
