---
http_interactions:
- request:
    method: post
    uri: https://api2-017.responsys.net/rest/api/v1.1/campaigns/MyMessage/email
    body:
      encoding: UTF-8
      string: '{"recipientData":[{"recipient":{"listName":{"objectName":"TestDataList"},"recipientId":303306162}}]}'
    headers:
      Authorization:
      - Ebe2y_eOsnwhw2j5uy6-9NUaj7VUwzBPc59MR_KkrderaTmoonlda2VkUg
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-ebe34d574d1c19029a247eaf 0
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"type":"","title":"Campaign not found","errorCode":"CAMPAIGN_NOT_FOUND","detail":"MyMessage
        Campaign Not Found","errorDetails":[]}'
  recorded_at: Tue, 31 May 2016 19:20:11 GMT
recorded_with: VCR 3.0.3
