---
http_interactions:
- request:
    method: post
    uri: https://api2-017.responsys.net/rest/api/v1.1/folders/TestData/suppData/TestTable
    body:
      encoding: UTF-8
      string: '{"recordData":{"fieldNames":["ID_","TITLE"],"records":[{"fieldValues":["1","My
        Title"]}],"mapTemplateName":null},"insertOnNoMatch":true,"updateOnMatch":"REPLACE_ALL"}'
    headers:
      Authorization:
      - E8J-per-wqgNjbU0MoTaqy44nVS46RamBrfQBwgHWCKIMYMHUoSKZ43OFM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-fae34d570b1ff42a309b84c8 0
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"updateCount":1,"errorMessage":null,"insertCount":0,"totalCount":1,"rejectedCount":0}'
  recorded_at: Tue, 31 May 2016 19:20:26 GMT
recorded_with: VCR 3.0.3
