---
http_interactions:
- request:
    method: post
    uri: https://api2-017.responsys.net/rest/api/v1.1/campaigns/KevinTest/email
    body:
      encoding: UTF-8
      string: '{"recipientData":[{"recipient":{"listName":{"objectName":"TestDataList"},"recipientId":303306162},"optionalData":[{"name":"testdata","value":"success"}]}]}'
    headers:
      Authorization:
      - E1yKznyOk63CWl5I5mmSRMd4G-CMPjJBbokbuUoGSK_St8yVfMmBjuJWdM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-ebe34d576d1c9e6ab078079b 0
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"errorMessage":null,"success":true,"recipientId":303306162}]'
  recorded_at: Tue, 31 May 2016 19:20:12 GMT
recorded_with: VCR 3.0.3
